* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card {
    border: none;
}

#select {
    width: 100px;
    height: 40px;
    background: #333;
    color: white;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}